<div class="os-full-width-container" ng-controller="QuickSearchCtrl">
  <div class="os-no-label-form">
    <div ng-hide="ctx.searching" class="placeholder" ng-click="activateSearch()">
      <span class="fa fa-search"></span>
      <span translate="search.title"></span>
      <input class="form-control">
    </div>

    <ui-select ng-hide="!ctx.searching" os-fix-dd ng-model="ctx.selectedMatch" reset-search-input="true"
      on-select="onMatchSelect($select)">
      <ui-select-match> </ui-select-match>
      <ui-select-choices ui-disable-choice="match.id < 0" repeat="match in ctx.matches"
        refresh="search($select.search, $select)" refresh-delay="750">
        <div class="row">
          <div ng-class="{'true': 'col-xs-6', 'false': 'ng-hide'}[match.id > 0]">
            <small>{{match.group}}</small>
          </div>
          <div class="clearfix" ng-class="{'true': 'col-xs-6 os-no-left-padding', 'false': 'col-xs-12'}[match.id > 0]">
            <span class="pull-left" style="width: calc(100% - 25px)">
              <span class="fa fa-graduation-cap" ng-show="match.id == 0"></span>
              <span ng-bind-html="match.caption | highlight: $select.search"></span>
            </span>
            <span class="pull-right" ng-show="match.id > 0" style="width: 25px; margin-right: -10px;">
              <button style="background: transparent; border: none;" ng-click="openInNewTab($event, match)">
                <span class="fa fa-external-link"></span>
              </button>
            </span>
          </div>
        </div>
        <div class="row" ng-show="!!match.props">
          <div class="col-xs-6">&nbsp;</div>
          <div class="col-xs-6 os-no-left-padding">
            <small>{{match.props}}</small>
          </div>
        </div>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
