<div>
  <div os-page-header>
    <div class="os-page-header-content">
      <h3>{{'common.ext_messages.message_id' | translate: messageLog}}</h3>
    </div>
  </div>

  <div class="container">
    <div class="clearfix">
      <div class="col-xs-9">
        <ul class="os-key-values os-one-col">
          <li class="item">
            <strong class="key key-sm" translate="common.ext_messages.app">External App</strong>
            <span class="value value-md">{{messageLog.externalApp}}</span>
          </li>

          <li class="item">
            <strong class="key key-sm" translate="common.ext_messages.type">Message Type</strong>
            <span class="value value-md">{{messageLog.type}}</span>
          </li>

          <li class="item">
            <strong class="key key-sm" translate="common.ext_messages.receive_time">Receive Time</strong>
            <span class="value value-md">{{messageLog.receiveTime | date: global.dateTimeFmt | osNoValue}}</span>
          </li>

          <li class="item">
            <strong class="key key-sm" translate="common.ext_messages.process_time">Process Time</strong>
            <span class="value value-md">{{messageLog.processTime | date: global.dateTimeFmt | osNoValue}}</span>
          </li>

          <li class="item">
            <strong class="key key-sm" translate="common.ext_messages.retries">Retries</strong>
            <span class="value value-md">{{messageLog.noOfRetries | osNoValue}}</span>
          </li>

          <li class="item">
            <strong class="key key-sm" translate="common.ext_messages.status">Status</strong>
            <span class="value value-md">{{messageLog.status}}</span>
          </li>
        </ul>

        <div class="os-section os-line-section">
          <strong class="key key-sm" translate="common.ext_messages.message">Message</strong>
          <pre class="value value-md" ng-if="!messageLog.displayType">{{messageLog.message}}</pre>
          <pre class="value value-md" ng-if="messageLog.displayType == 'json'">{{messageLog.message | json}}</pre>
        </div>

        <div class="os-section os-line-section">
          <strong class="key key-sm" translate="common.ext_messages.error">Error</strong>
          <pre class="value value-md">{{messageLog.error | osNoValue}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
